h2{
    color: chartreuse;
}
.carousel .slide{

    background-color: black;
    padding: 80px;

}

.carousel .control-dots{
    margin: 60px auto;
}

.carousel li.slide img{
    height: 70%;
    width: 70%;
    bottom: 20px;
}