h2{
    color: green;
}

.projects{
width: 100%;
height: 680px;
}
.carousel .slide{
    background-color: #242424;
    padding: 50px;

}

.carousel .control-dots{
    margin: 20px auto;
    bottom: 0;
}

.carousel li.slide img{
    max-height: 450px;
    max-width: 900px;
    bottom: 10px;
}

