@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
font-size: 62.5%;
box-sizing: border-box;
}

body,
#root{
  height: 100vh;
  margin: 0;
}

body, input, select, button, textarea{
  font-size: 1.6rem;
  font-family: Montserrat, Helvetica, Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

.grid-container{
display: grid;
grid-template-areas: 
"header"
"main";
 grid-template-rows: 5rem 1fr 5rem;
 grid-template-columns: 1fr;
 height: 100%;
}

a{
text-decoration: none;
}

a:hover {
  color: #47d685;
}


main{
  grid-area: main;
}


.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem;
}

.sidebar{
  flex: 1 20rem;
}

/* Products*/


.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.products li{
  flex: 0 1 29rem;
  height: 100%;
  padding: 1rem;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  filter: contrast(85%);
  box-shadow: 0px 0px 2px 0px grey;
  margin: 10px;
  transition-property: box-shadow margin-top filter;
  transition-duration: 0.1s;
}
  .product:hover{
  cursor: pointer;
  filter: contrast(100%);
  box-shadow: 0px 0px 10px 0px grey;
  margin-top: 0px;
  margin-bottom: 5px;
}

.product img{
  max-height: 100%;
  max-width: 100%; 
}

.product a{
  text-align: center;
  color: #242424;
}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
text-align: center;
flex: 1;
}
.product-price div{
  font-size: 2rem;
}

.button{
  font-size: 1.4rem;
  padding: 0.5rem;
  border: 0.01rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover{
  border: 0.1rem #808080 solid;
}

.button.primary {
  background-color:#2C302E;
  color: aliceblue;
}

/*Filter*/

.filter{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div{
  flex: 1;
}

/*Index.css*/

.wishlist{
padding: 1rem;
margin: 1rem;
display: flex;
}

.wishlist-header{
  border-bottom: 0.1rem #c0c0c0 solid;
}

.wishlist-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.wishlist-items img{
  width: 5rem;
} 

.wishlist-items li{
  display: flex;
}

.wishlist-items li div{
  padding: 0.5rem;
}

.wishlist-items li div:last-child {
  flex: 1;
}

.right{
  text-align: right;
}

.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.total > div{
  font-size: 2rem;
} 

.total > div, 
.total > button {
  flex: 1;
}

/*Checkout Form */
form {
  width: 100%;
}
.form-container{
  width: 100%;
  padding: 0;
  list-style-type: none;

}

.form-container li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid; 
}

/*Product-Details*/

.product-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img{
  max-height: 100%;
  max-width: 140vh;
  margin: 0 auto;
}

.product-details-description{
  flex: 1 1;
  margin: 1rem;
}

.close-modal{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

.project-details{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  
}

/*Order Details*/

.order-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div{
padding: 10px;
}

.order-details .items {
  text-align: right;
  padding: 0;
}

.success-message{
  color: green;
}

